@import '../../../assets/styles/variables';
@import '../../../assets/styles/index';

.allWeatherContainer {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, 350px);
  border-color: #0b3ca6;
}

.titleContainer {
  padding: 15px 0px;
  margin-bottom: 25px;
  font-size: 28px;
  width: 100%;
  background-color: #0f3fb7;
  color: white;
  border: none;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .allWeatherContainer {
    grid-template-columns: repeat(auto-fit, 380px);
  }

  .titleContainer {
    margin-bottom: 10px;
    font-size: 22px;
  }
}

@media only screen and (max-width: 768px) {
  .allWeatherContainer {
    grid-template-columns: repeat(auto-fit, 360px);
  }

  .titleContainer {
    font-size: 18px;
  }
}

@media only screen and (max-width: 480px) {
  .titleContainer {
    font-size: 15px;
  }
}
