@import '../../assets/styles/variables';
@import '../../assets/styles/index';

.header-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 25px;
  padding: 0;
  width: 100%;
  height: 100px;
  background-color: $background-color;

}

.header-title {
  color: $text-color;
  font-size: 32px;
}


@media only screen and (max-width: 992px) {
  .header-container {
    margin-bottom: 2px;
  }

  .header-title {
    font-size: 22px;
  }
  .header-logo {
    padding-left: 50px;
  }

}

@media only screen and (max-width: 768px) {
  .header-title {
    font-size: 18px;
  }
  .header-logo {
    padding-left: 30px;
  }

}

@media only screen and (max-width: 480px) {
  .header-container {
    flex-direction: column;
    justify-content: space-evenly;
    height: 180px;
  }

  .header-title {
    padding: 0px;
    font-size: 17px;
  }
  .header-logo {
    padding: 15px 0 0 0;
  }
}


