.App {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  font-size: x-large;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  /* Smartphones (вертикальная и горизонтальная ориентация) */
  font-size: x-small;

}
